/* Main styles*/
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

#znaiderest-widget * {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

#znaiderest-widget {
  position: relative;
  display: block;
  height: 100%;
  padding-bottom: 84px;
  box-sizing: border-box;
  color: var(--custom-text-color, #fff100);
  background: var(--custom-background-color, #2a0632);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#znaiderest-booking-form {
  /* width: 480px; */
  width: 100%;
  padding: 10px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#znaiderest-booking-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: var(--custom-background-color, #2a0632);
  z-index: 99;
}

#znaiderest-booking-overlay .overlay {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#znaiderest-widget.overlay #znaiderest-booking-overlay {
  display: flex;
}

#znaiderest-widget.loading .overlay.loading,
#znaiderest-widget.processing .overlay.processing,
#znaiderest-widget.success .overlay.success,
#znaiderest-widget.booking-error .overlay.booking-error,
#znaiderest-widget.init-error .overlay.init-error,
#znaiderest-widget.error .overlay.error {
  display: flex;
}

#znaiderest-logo {
  position: absolute;
  bottom: 36px;
  width: 100%;
  height: 24px;
  text-align: center;
  mix-blend-mode: lighten;
}

#znaiderest-logo img {
  height: 100%;
  /* width: 100%; */
}

/* From styles */

#znaiderest-booking-form .title {
  margin-bottom: 20px;
  font-size: 16px;
}

#znaiderest-booking-form .form-box {
  display: grid;
  box-sizing: border-box;
  grid-gap: 10px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'name name name phone phone phone'
    'date date time time number number'
    'options options options options options options'
    'notes notes notes notes notes notes'
    'submit submit submit submit submit submit';
}

#znaiderest-booking-form .form-box .form-field {
  position: relative;
}

#znaiderest-booking-form .form-box .name {
  grid-area: name;
}
#znaiderest-booking-form .form-box .phone {
  grid-area: phone;
}
#znaiderest-booking-form .form-box .date {
  grid-area: date;
}
#znaiderest-booking-form .form-box .time {
  grid-area: time;
}
#znaiderest-booking-form .form-box .number {
  grid-area: number;
}
#znaiderest-booking-form .form-box .options {
  grid-area: options;
}
#znaiderest-booking-form .form-box .notes {
  grid-area: notes;
}
#znaiderest-booking-form .form-box .submit {
  grid-area: submit;
}

#znaiderest-booking-form .form-box .checkbox-box {
  display: flex;
  flex-wrap: wrap;
}

#znaiderest-booking-form .form-box .form-field > input,
#znaiderest-booking-form .form-box .form-field > textarea,
#znaiderest-booking-form .form-box .form-field > select {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  background-color: var(--custom-text-color, #fff100);
  color: var(--custom-background-color, #2a0632);
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}

#znaiderest-booking-form .form-box .form-field > textarea {
  height: auto;
  resize: none;
}

#znaiderest-booking-form .form-box .form-field .checkbox-box > .checkbox {
  margin-right: 10px;
  margin-bottom: 5px;
  min-width: 148px;
}

#znaiderest-booking-form .form-box .form-field .checkbox-box > .checkbox label {
  text-transform: initial;
}

#znaiderest-booking-form.inline-inputs .form-box .form-field > input,
#znaiderest-booking-form.inline-inputs .form-box .form-field > select,
#znaiderest-booking-form.inline-inputs .form-box .form-field > textarea {
  background: var(--custom-background-color, #2a0632);
  color: var(--custom-text-color, #fff100);
  border-bottom: 1px solid var(--custom-text-color, #fff100);
}

#znaiderest-booking-form.validated .form-box .form-field > input,
#znaiderest-booking-form.validated .form-box .form-field > textarea,
#znaiderest-booking-form.validated .form-box .form-field > select {
  border-left: 5px solid var(--custom-text-color, #fff100);
  padding-left: 5px;
}

/* #znaiderest-booking-form.validated .form-box .form-field input:valid {
  border-color: #356639f8;
} */
#znaiderest-booking-form.validated .form-box .form-field > input:invalid,
#znaiderest-booking-form.validated .form-box .form-field > textarea:invalid,
#znaiderest-booking-form.validated .form-box .form-field > select:invalid {
  border-color: #ec2626;
}

/* Custom number controller */
/* #znaiderest-booking-form .form-box .form-field input[type='number']::-webkit-inner-spin-button,
#znaiderest-booking-form .form-box .form-field input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#znaiderest-booking-form .form-box .form-field input[type='number'] {
  -moz-appearance: textfield;
} */

#znaiderest-booking-form .form-box .form-field button {
  display: inline-block;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  padding: 5px;
  background: var(--custom-text-color, #fff100);
  color: var(--custom-background-color, #2a0632);
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
}

#znaiderest-booking-form .form-box .form-field > label {
  /* position: absolute;
  top: 0;
  left: 0;
  font-size: 16px; */
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--custom-text-color, #fff100);
  text-transform: capitalize;
  /* pointer-events: none;
  transition: 0.5s; */
}
#znaiderest-booking-form .form-box .form-field > input:focus ~ label,
#znaiderest-booking-form .form-box .form-field > textarea:focus ~ label,
#znaiderest-booking-form .form-box .form-field > select:focus ~ label,
#znaiderest-booking-form .form-box .form-field > input:valid ~ label,
#znaiderest-booking-form .form-box .form-field > textarea:valid ~ label,
#znaiderest-booking-form .form-box .form-field > select:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

/* ReCaptcha badge */

.grecaptcha-badge {
  /* position: absolute !important;
  bottom: auto !important; */
}

/* Overlay spinner animation */

#znaiderest-booking-overlay .preloader-box {
  margin-top: 20px;
}

#znaiderest-booking-overlay .preloader-box svg {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  color: var(--custom-text-color, #fff100);
  animation: loading-spinner-rotate 2s linear infinite;
  transform-origin: center center;
  z-index: inherit;
}

#znaiderest-booking-overlay .preloader-box svg circle {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: -35px;
  stroke-linecap: round;
  animation: loading-spinner-dash 1.5s ease-in-out infinite;
}

/* Animations keyframes */

@-webkit-keyframes loading-spinner-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-spinner-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes loading-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
